<div class="card my-5" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> <i [class.is-online]="(presenceService.onlineUsers$ | async).includes(post.createdBy)" class="fa fa-user mx-1"></i> {{ post.createdBy }}   -   {{ post.createdAt | date }} </h6>
        <p class="card-text">
            {{ post.content }}
        </p>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary mx-3" (click)="onCommentsButtonClick()">Comments</button>

        <div class="right">{{ post.numberOfComments }} Comments</div>
    </div>
    <app-post-comment [postId]="post.id" [hideComments]="hideComments" [commentsFetchedWithPost]="post.comments"></app-post-comment>
</div>
  