<h1 class="text-center my-5">Login</h1>
<div class="mx-5 mt-2 ">
  <form >
    <mdb-form-control class="mb-4">
      <input mdbInput type="text" id="formControlLg" class="form-control form-control-lg" />
      <label mdbLabel class="form-label" for="formControlLg">Username</label>
    </mdb-form-control>

    <mdb-form-control class="mb-4">
      <input mdbInput type="text" id="formControlLg" class="form-control form-control-lg" />
      <label mdbLabel class="form-label" for="formControlLg">Password</label>
    </mdb-form-control>
  </form>
  
</div>


<!-- <app-plain-input label="Confirm Password" inputType="password" [control]="authForm.get('passwordConfirmation')"></app-plain-input>
<div *ngIf="authForm.errors.passwordsDontMatch">
  <p class="note note-danger">
    <strong>Password Error:</strong> Password and Confirm Password does not match
  </p> -->